
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="text-center">

	<h1> Thank you for contributing to our project {{{fname}}}</h1>

	<h2> In order to get back to your profile click here </h2>

	<form action='/profile'>
		<input type="submit">
	</form>

</body>



