<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>

<h1> Hello {{{fname}}}, You can navigate to your favorites from here </h1>

<form action = "/faveComics">
   <input type = "submit" class="niceButtons" value="Search Comics"/>
</form>
<br>
<form action = "/faveCharacters">
   <input type = "submit" class="niceButtons" value="Search Characters"/>
</form>
<br>
<form action = "/faveSeries">
   <input type = "submit" class="niceButtons" value="Search Series"/>
</form>
<br>
<form action = "/faveCreators">
   <input type = "submit" class="niceButtons" value="Search Creators"/>
</form>